# Работа с данными в Pandas

In [1]:
import pandas as pd

__1.__ Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

__2.__ Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

__3.__ Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

__4.__ Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

__5**.__ Создайте новый столбец в датафрейме authors_price под названием cover, в нём будут располагаться данные о том, какая обложка у данной книги - твёрдая или мягкая. В этот столбец поместите данные из следующего списка:
['твёрдая', 'мягкая', 'мягкая', 'твёрдая', 'твёрдая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твёрдой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твёрдая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.